# OSX
#
.DS_Store

# IDE
.idea

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Git-secret
.gitsecret/keys/random_seed
!*.secret
blockchain/packages/ethena/.env.test
blockchain/solidity/.env.test
configs/frontend-environments/shared/.env
configs/frontend-environments/shared/.env.production
configs/frontend-environments/prelaunch/.env
configs/frontend-environments/website/.env
configs/frontend-environments/retail/.env
configs/frontend-environments/website/.env.production
configs/frontend-environments/prelaunch/.env.production
configs/frontend-environments/retail/.env.production

# Ui tests repo
ui-tests/extensions/
ui-tests/.husky/
test-results/
ui-tests/integration-tests/tests-results/
ui-tests/integration-tests/playwright-report/

# Turborepo logs, outputs, and other functionality.
.turbo

# ESLint cache
.cache/eslint/

# Terraform
tfState.json

# Tests
ui-tests/transactionHash.json
tests-results/allure-results/